<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="table.html">

<dom-module id="owox-app">
    <template is="dom-bind">
        <style>
            :host {
                display: block;
            }
        </style>
        <h2>Hello [[prop1]]!</h2>

        <input type="text" value="{{city::change}}">
        <button>Submit</button>
        <table-component city="{{city}}"></table-component>

    </template>

    <script>
        /**
         * @customElement
         * @polymer
         */

        class OwoxApp extends Polymer.Element {
            static get is() {
                return 'owox-app';
            }
            constructor(){
                super();
                this.city = 'London';
            }

            static get properties() {
                return {
                    prop1: {
                        type: String,
                        value: 'owox-app'
                    }
                };
            }

            getNewCity(e){
                e.preventDefault();
            }

        }

        window.customElements.define(OwoxApp.is, OwoxApp);
    </script>
</dom-module>
