<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/polymer-element.html">


<dom-module id="table-component">
    <template>
        <style>

            :host {
                display: block;
            }
            /**{*/
            /*color: red;*/
            /*}*/
            table{
                border-spacing: 0;
            }
            td{
                border-bottom: 1px solid #000;
                border-left: 1px solid #000;
            }
            tr td:last-child{
                border-right: 1px solid #000;
            }
            tbody > tr:first-child td{
                border-top: 1px solid #000;
            }
        </style>

        <!--DOM-->
        <iron-ajax
                auto="true"
                url="http://api.openweathermap.org/data/2.5/forecast?appid=21cc9f5663f6c7535e2d3fd80978fea3&q=${{city}}"
                handle-as="json"
                on-response="dataSevice">
        </iron-ajax>

        <div>[[data.city]]</div>

        <div>
            <table>
                <thead>
                <tr>
                    <template is="dom-repeat" items="{{dataProp}}">
                        <th>
                            <button on-click="setPropertySvg" data-prop$="[[item]]">[[item]]</button>
                        </th>
                    </template>
                </tr>
                </thead>
                <tbody>
                <template is="dom-repeat" items="{{data.list}}" as="dataPropName">
                    <tr>
                        <td>{{dataPropName.time}}</td>
                        <td>{{dataPropName.humidity}}</td>
                        <td>{{dataPropName.pressure}}</td>
                        <td>{{dataPropName.temp}}</td>
                        <td>{{dataPropName.sea_level}}</td>
                        <!--Я хотел сделать что-то типа такого {{dataPropItem[dataPropName]}}, но не разобрался как вызвать свойство по ссылке(( -->
                        <!--<template is="dom-repeat" items="[[dataProp]]" index-as="dataPropIndex" as="dataPropItem"></template>-->
                    </tr>
                </template>
                </tbody>
            </table>
        </div>

        <!--./DOM-->


    </template>

    <!--script-->

    <script>
        /**
         * @customElement
         * @polymer
         */

        const KELVIN = 273.15,
              PADDING = 40,
              MIN_TEMP = -50;

        class TableComponent extends Polymer.Element {
            static get is() {
                return 'table-component';
            }
            constructor(){
                super();
                this.data = {
                    list: [],
                    city: 'asd',
                    date: ''
                };
                this.city = 'Manchester';
                let svg = document.getElementById('svg');
                this.lineGraph = new LineGraph(svg);
            }

            static get properties() {
                return {
                    dataProp: {
                        type: ArrayBuffer,
                        value: [
                            'HH:MM, dd/mm',
                            'humidity',
                            'pressure',
                            'temp',
                            'sea_level'
                        ]
                    },
                    city: {
                        type: String,
                        notify: true
                    }
                };
            }

            /**
             * Обрабатываю данные, полученные с api.openweathermap.org,
             * хотел иметь более удобный доступ из хтмл - чтобы можно было
             * одним dom-repeat пройтись по массиву ключей,
             * а вложенным вторым - выбрать из полученного объекта значение свойства
             * Но по сути это оказалось лишним, убирать не стал
             * @param e - event
             */
            dataSevice(e){
                let response = e.detail.response;
                let data = {};
                data.city = response.city.name;
                let date = new Date(response.list[0].dt + 1000);
                data.list = response.list.map((elem) => {
                    let itemDay = (new Date(elem.dt * 1000));
                    return {
                        time: `${itemDay.getHours()}:00, ${itemDay.getDate()}/${itemDay.getMonth()}`,
                        humidity: elem.main.humidity,
                        pressure: elem.main.pressure,
                        temp: Math.round(elem.main.temp - KELVIN),
                        sea_level: elem.main.sea_level
                    }
                });
                this.set('data', data);
                this.buildSvg('humidity');
            }

            /**
             * при клике на одну из кнопок для перестройки графика
             * @param e - event
             */
            setPropertySvg(e){
                let prop = e.target.dataset.prop;
                if (prop === this.dataProp[0]){
                    alert('Я не знаю как сделать аналог *ngIf, поэтому тут кнопка, а не просто текст');
                    return
                }
                this.buildSvg(prop);
            }

            /**
             * Функция вызывает метод класса LineGraph для постройки линии и осей графика
             * @param prop - ключ объекта
             */
            buildSvg(prop){
                this.lineGraph.buildLine(this.data.list, prop);
            }
        }

        class LineGraph {
            constructor(svg){
                this.svg = d3.select(svg);
                this.height = svg.clientHeight - PADDING * 2;
                this.width = svg.clientWidth - PADDING * 2;
                this.onInit();
            }

            /**
             * При инициализации класса сразу строим обертку,
             * добавляем слушатель события 'mousemove' для всего элемента SVG
             */
            onInit(){
                this.buildGraphWrap();
                let graphHover = () => {
                    this.graphHover(d3.event)
                };
                this.svg.on('mousemove', graphHover);
                this.buildText();
            }

            /**
             * Добавляет вконец внутренней свг обертки елемент text для вывода значений
             */
            buildText(){
                this.textWrap = this.wrap.append('svg:g')
                    .attr('class', 'text')
                    .append('svg:text')
                    .attr('y', 20)
                    .attr('x', 20)
            }

            /**
             * Меняет текст тега text
             * @param index - номер элемента массива данных
             */
            insertText(index){
                this.textWrap.text(`${this.prop}: ${this.data[index][this.prop]}; time: ${this.data[index].time}`)
            }

            /**
             * Строит внутреннюю обертку свг, в нее будут помещаться все остальные элементы
             * Делалось с целью быстрого удаления, для переключения в режим "диаграмма", который я не сделал(((
             */
            buildGraphWrap(){
                this.wrap = this.svg.append('svg:svg').append('svg:g')
                    .attr('class', 'line-graph')
            }

            /**
             * Функция вызывается при каждом движении мыши по всему родителю СВГ,
             * но отрабатывает только при новом попадании на один из прямоугольников для ховера
             * @param event
             */
            graphHover(event){
                let target = event.target;
                if (!this.rectWrap || !this.circleWrap || target.nodeName !== 'rect' || this.currentRect === target.dataset.index) return;

                this.currentRect = target.dataset.index;
                this.circle
                    .transition().duration(150)
                    .attr('r', 0);
                this.projectionX
                    .transition().duration(150)
                    .attr('x1', this.xCords[this.currentRect])
                    .attr('y1', this.height)
                    .attr('x2', this.xCords[this.currentRect])
                    .attr('y2', this.yCords[this.currentRect]);
                this.projectionY
                    .transition().duration(150)
                    .attr('x1', 0)
                    .attr('y1', this.yCords[this.currentRect])
                    .attr('x2', this.xCords[this.currentRect])
                    .attr('y2', this.yCords[this.currentRect]);

                d3.select(document.querySelector(`circle.point_${this.currentRect}`))
                    .transition().duration(50)
                    .attr('r', 10);


                this.insertText(this.currentRect);
            }

            /**
             * Рисует гладкую кривую, если кривая уже была, то рисуем с плавностью
             * Вызывает функции для
             * - постройки кругов
             * - осей
             * - прямоугольников
             * И функцию для редактирования проекционных линий
             * @param data - массив данных
             * @param prop - ключ нужного значения
             */
            buildLine(data, prop){
                if (prop !== this.prop) this.buildProjection();
                this.prop = prop;
                this.data = data;

                let yScale = d3.scaleLinear().range([this.height, 0])
                        .domain(d3.extent(data, (d) => { return d[prop]; }));
                let xScale = d3.scaleLinear().range([0, this.width])
                        .domain(d3.extent(data, (d, i) => { return i; }));

                this.xCords = [];
                this.yCords = [];

                let path = d3.line()
                    .x((d, i) => {
                        this.xCords[i] = xScale(i).toFixed(2);
                        return this.xCords[i];
                    })
                    .y((d, i) => {
                        this.yCords[i] = yScale(d[prop]).toFixed(2);
                        return this.yCords[i];
                    })
                    .curve(d3.curveCatmullRom);

                if (!this.line) {
                    this.line = this.wrap.append("g").attr('class', 'graph').append("path")
                        .data([data])
                        .attr("class", "line")
                        .attr('fill', 'none')
                        .attr('stroke-width', 5)
                        .attr('stroke', 'red')
                        .attr("d", path);
                } else {
                    this.line
                        .data([data])
                        .transition().duration(250)
                        .attr("d", path)
                }

                /**
                 * Перестраиваю оси каждый раз, чтобы можно было использовать для графиков с другим колличеством точек
                 */
                this.buildAxis(xScale, yScale);


                this.buildCircles();
                this.buildRects();

                this.insertText(data.length - 1);
            }

            /**
             * Рисует проекционные линии, если они уже есть - то удаляем их
             * вызывается когда происходит смена ключа данных (при клике на кнопку)
             */
            buildProjection(){
                if (this.projection) this.projection.remove();
                this.projection = this.wrap.append('svg:g').attr('class', 'projection');
                this.projectionX = this.projection.append('svg:line').attr('class', 'projectionX').attr('stroke-width', 1).attr('stroke', '#ccc');
                this.projectionY = this.projection.append('svg:line').attr('class', 'projectionY').attr('stroke-width', 1).attr('stroke', '#ccc');
            }

            /**
             * строит оси
             * @param xScale
             * @param yScale
             */
            buildAxis(xScale, yScale){
                if (this.axis) this.axis.remove();
                this.axis = this.wrap.append('svg:g').attr('class', 'axis');

                this.axis.append('svg:g')
                    .attr('transform', `translate(0,${this.height})`)
                    .call(d3.axisBottom(xScale).ticks(5).tickFormat((d, i) => {
                        return this.data[i * 5].time
                    }));

                this.axis.append('svg:g')
                    .call(d3.axisLeft(yScale).ticks(5).tickFormat(d => {
                        return d
                    }))
            }

            /**
             * строит круги
             */
            buildCircles(){
                if (this.circleWrap) this.circleWrap.remove();
                this.circleWrap = this.wrap.append("g").attr('class', 'circles');
                this.circle =  this.circleWrap.selectAll()
                    .data(this.xCords)
                    .enter().append('svg:circle')
                    .attr('class', (d, i) => {
                        return `point_${i}`;
                    })
                    .attr('r', 0)
                    .attr('fill', 'red')
                    .attr('cy', (d, i) => {return this.yCords[i]})
                    .attr('cx', (d, i) => {return this.xCords[i]})
            }

            /**
             * строит невидимые прямоугольники для ховер эффекта
             * должна выполнятся последней, чтобы прямоуголники были выше всех
             * или задать другим дочерним элементам свг-обертки pointer-events: none
             */
            buildRects(){
                if (this.rectWrap) this.rectWrap.remove();
                this.rectWrap = this.wrap.append("g").attr('class', 'rects');

                this.rect =  this.rectWrap.selectAll()
                    .data(this.xCords)
                    .enter().append('svg:rect')
                    .attr('class', (d, i) => {
                        return `rect_${i}`;
                    })
                    .attr('fill','transparent')
                    .attr('y', 0)
                    .attr('x', (d, i) => {return this.xCords[i] - this.xCords[1] / 2})
                    .attr('height', this.height)
                    .attr('width', this.xCords[1])
                    .attr('data-index', (d, i) => {return i})
            }

        }

        window.customElements.define(TableComponent.is, TableComponent);
    </script>
    <!--./script-->
</dom-module>